.div-1 {
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
}

.div-2 {
    color: darkgoldenrod;
    text-align: end;
    font-weight: inherit;
    background-color: black;
}

.div-3 {
    color: aliceblue;
    text-align: left;
    font-weight: initial;
    background-color: red;
}